@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: #616066;
  background-color: #c6c9d0;
}
body.overflow-hidden {
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: darkgrey;
  text-decoration: none;
}

b {
    font-weight: bold;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
html, body {
  height: 100%;
}

.jg-header {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255, 0.95);
  height: 70px;
  width: 100%;
  z-index: 5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 768px) {
  .jg-header {
    height: 80px;
    background: transparent;
    box-shadow: none;
  }
}
@media only screen and (min-width: 1170px) {
  .jg-header {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .jg-header.is-fixed {
    position: fixed;
    top: -80px;
    background-color: rgba(97, 96, 102, 0.35);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .jg-header.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .jg-header.menu-is-open {
    background-color: #616066;
  }
}

.logo {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .875em;
}
.logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .logo {
    left: 2.6em;
  }
}

.secondary-nav {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8em;
  /* hidden on small devices */
  display: none;
}
.secondary-nav li {
  display: inline-block;
  margin-left: 2.2em;
}
.secondary-nav a {
  display: inline-block;
  color: #616066;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3em;
}
@media only screen and (min-width: 768px) {
  .secondary-nav {
    display: block;
  }
}

.primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: transparent;
}
.primary-nav-trigger .menu-text {
  color: #616066;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  /* hide the text on small devices */
  display: none;
}
.primary-nav-trigger .menu-icon {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 38px;
  height: 3px;
  background-color: #616066;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.primary-nav-trigger .menu-icon::before, .primary-nav-trigger .menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #616066;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.primary-nav-trigger .menu-icon::before {
  top: -7px;
}
.primary-nav-trigger .menu-icon::after {
  top: 7px;
}
.primary-nav-trigger .menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.primary-nav-trigger .menu-icon.is-clicked::before, .primary-nav-trigger .menu-icon.is-clicked::after {
  background-color: white;
}
.primary-nav-trigger .menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.primary-nav-trigger .menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .primary-nav-trigger .menu-text {
    display: inline-block;
  }
  .primary-nav-trigger .menu-icon {
    left: auto;
    right: -1.5em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.primary-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(97, 96, 102, 0.95);
  z-index: 2;
  text-align: center;
  padding: 50px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.primary-nav li {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
  text-transform: capitalize;
}
.primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.no-touch .primary-nav a:hover {
  background-color: #c6c9d0;
}
.primary-nav .label {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em;
}
.primary-nav .cd-social {
  display: inline-block;
  margin: 0 .4em;
}
.primary-nav .cd-social a {
  width: 44px;
  height: 44px;
  padding: 0;
  background-image: url("../img/cd-socials.svg");
  background-repeat: no-repeat;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.primary-nav .cd-facebook a {
  background-position: 0 0;
}
.primary-nav .cd-instagram a {
  background-position: -44px 0;
}
.primary-nav .cd-dribbble a {
  background-position: -88px 0;
}
.primary-nav .cd-twitter a {
  background-position: -132px 0;
}
.primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 768px) {
  .primary-nav {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 1170px) {
  .primary-nav li {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .primary-nav .label {
    font-size: 16px;
    font-size: 1rem;
  }
}

.intro {
  position: relative;
  height: 100%;
  background: url("../img/jeangustave-img.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
}
@media only screen and (min-width: 300px) {
  .intro {
    position: relative;
    height: 350px;
  }
}

@media only screen and (min-width: 668px) {
  .intro {
    position: relative;
    height: 800px;
  }
}


.hero h3 a {
    color: gray;
}

@media only screen and (min-width: 300px) {
  .hero {
    position: relative;
  height: 800px;
  background: url("../img/jeangustave-hero-media-overlay.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  }
    
    .text {
    padding-top: 200px;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
        }
    
    .text h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.2rem;
    font-weight: bold;
    color: dark gray;
    padding-bottom: 20px;
        }
    
    .text h3 {
    font-size: 1.8rem;
    padding-bottom: 20px;
    font-weight: bold;
        }
    
    .text h5 {
        font-size: 1.5rem;
        padding-bottom: 20px;
        }
}

@media only screen and (min-width: 490px) {
    
    .text {
    padding-top: 200px;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
        }
    
    .text h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.8rem;
    font-weight: bold;
    color: dark gray;
    padding-bottom: 20px;
        }
    
    .text h3 {
    font-size: 2rem;
    padding-bottom: 20px;
        }
    
    .text h5 {
        font-size: 1.9rem;
        padding-bottom: 20px;
        }
}

@media only screen and (min-width: 1060px) {
  .hero {
  position: relative;
  height: 100vh;
  background: url("../img/jeangustave-hero.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  }
    
    .text {
        width: 60%;
        padding-top: 0px;
        float: right;
        color: #616066;
    }
    
  .text h1 {
    font-size: 3.875rem;
    padding-top: 180px;
    padding-bottom: 20px;
  }
    
    .text h3 {
        font-size: 2.2rem;
        padding-bottom: 20px;
    }
    
    .text h5 {
        font-size: 2rem;
        padding-bottom: 30px;
    }
}
/**
@media only screen and (min-width: 1170px) {
  .intro {
    height: 700px;
  }
} **/


.main-content {
  position: relative;
  z-index: 1;
  padding-top: 50px;
}
.main-content h1 {margin: 1em 0;
    font-size: 2rem;
    font-weight: 600;
}
.main-content h2 {
    font-family: 'Permanent Marker', cursive;
    margin: 1em 0;
    font-size: 1.3rem;
    font-weight: 600;
}
.main-content p {
  line-height: 1.4;
  margin: 1em 0;
  font-size: 1.30rem;
}
@media only screen and (min-width: 1170px) {
  .main-content h1 {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1170px) {
  .main-content p {
    font-size: 1.75rem;
  }
}
blockquote { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 3rem;
    font-weight: 400;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #616066;
  border: none;
  color: #c6c9d0;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

h2 {
    font-size: 3.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
@media only screen and (min-width: 768px) {
   h2 {
    font-size: 2.5rem;
  }
}

/*  SECTIONS  */
.section h1{
    font-size: 34px;
}
.section p{
    font-size: 24px;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 4%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 48%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 780px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 780px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}

form {
  margin: 0% auto;
}


.input {
  display: ;
  align-items: center;
}


.button {
  height: ;
  border-radius: 0px;
}

  
#signup_email {
  border: 1px solid #737373;
  background: transparent;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  padding: 1em; 
  font-size: 16px;
  width: 100%;
    display: block;
    border-radius: 0px;
}


#webform_submit_button {
  border: 1px solid #053950;
  background: #053950;
  font-size: 16px;
  color: lightgray;
  padding: 1em;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 0px;
  text-transform: uppercase;
}
  

#webform_submit_button:hover {
  border: 1px solid #053950;
   background: transparent;
}
  

input:focus {
  outline: none;
  outline: 2px solid darkgray;
  box-shadow: 0 0 2px black;
  border-radius: 0px;
}

/* FORM */
form
{
  display: block;
  margin: 0% auto;
  overflow: hidden;
  background: transparent;
  border: none;
  border-radius: none;
  font-size: 0;
}

@media(min-width:800px){
  form > div {
    display: inline-block;
  }
  form > div.col-submit {
    display: block;
  }
}

form > div > label 
{
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #939393;
  cursor: pointer;
}

form > div.col-1, div.col-2, form > div.col-3, form > div.col-4 {
  border-bottom: 1px solid #616066;
}

@media(min-width: 800px){
  form > div.col-1, div.col-2, form > div.col-3, form > div.col-4 { box-shadow: 1px 1px #616066; border: none; }
}

@media(min-width:800px){
  form > div.col-1 {width: 100%}
  form > div.col-2 { width: 50% }
  form > div.col-3 { width: 33.3333333333% }
  form > div.col-4 { width: 25% }
}

form > div > label > input
{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 37px;
  line-height: 37px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: transparent;
  font-size: 1.15em;
  font-weight: 200;
  opacity: .66;
  transition: opacity .3s, box-shadow .3s;
    text-transform: uppercase;
}

form > div.col-submit {
  text-align: center;
  padding: 20px;
}

form > div.col-submit button {
  border: 1px solid #E4E4E4;
  background: #053950 ;
  font-size: 1.5em;
  color: #fff;
  padding: 1em;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
}

@media(min-width: 800px){
  form > div.col-submit button {
    width: 30%;
    margin: 0 auto;
  }
}

form > div.col-submit button:hover {
  background: transparent;
}

form > div > label > select
{
  display: block;
  width: 100%;
  margin: 16px 0 6px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.15em;
  font-weight: 200;
  opacity: .33;
}

form > div > label > input:focus, form > div > label > select:focus {
  opacity: 1;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .15);
}

textarea {
    border: none;
	width: 100%;
    height: 200px;
    line-height: 17px;
    margin: 5px -5px 0;
    padding: 7px 5px 3px;
    font-size: 1.15em;
    opacity: .66;
    transition: opacity .3s, box-shadow .3s;
    text-transform: uppercase;
    background-color: transparent;
	}
/* CSS for input button */
@media (min-width: 800px) {
  .col-submit input[type=submit] {
    width: 30%;
    margin: 0 auto;
  }
}

input[type=submit] {
  border: 1px solid #053950;
  background: #053950;
  font-size: 16px;
  color: #fff;
  padding: 1em;
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 0px;
  text-transform: uppercase;
}

input[type=submit]:hover {
   border: 1px solid #053950;
   background: transparent;
}

button1 {
    background-color: transparent;
    border: solid 3px white;
    color: white;
    padding: 15px 32px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    font-family: sans-serif;
}

button1:hover {
    background-color: white;
    border: solid 3px white;
    color: #2C7E58;
    padding: 15px 32px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

#square-launchfast {
    border: 1px solid #616066;
    padding: 50px;
}

button.accordion {
    background-color: transparent;
    color: #616066;
    font-size: 1.3rem; 
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: transparent;
    border: 1px solid #616066;
}

div.panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 1.20rem; 
    border-bottom: 1px solid #616066;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #616066;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1.3rem;
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: #616066;
    display: none;
    padding: 50px;
    text-align: center;
}

/* Style each tab content individually */
#thewill {background-color:transparent; border: 1px solid #616066;}
#savings {background-color:transparent; border: 1px solid #616066;}
#availability {background-color:transparent; border: 1px solid #616066;}
#product {background-color:transparent; border: 1px solid #616066;}

@media(max-width: 800px){
  .tablink {
    background-color: #555;
    padding: 10px 10px;
    font-size: 0.6rem;
    width: 25%;
  }
}